
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: white;
}

header{
    background-image: url("../img/banniere.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

h2{
    padding: 20px;
    color: green;
}

#bouton-retour{
    width: 30%;
    background-color: green;
}

#bouton-retour:hover{
    background-color: darkslategrey;
}

#bouton-administration{
    margin: 0 auto;
    text-align: center;
    width: 30%;
    background-color: darkred;
}

#bouton-administration:hover{
    background-color: red;
}

.bouton-action{
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.bouton-action:hover{
    background-color: darkslategrey;
}

.bouton-ajouter
{
    width: 35%;
    border: dashed black 5px;
}

.bouton-modifier
{
    background-color: darkorange;
}

.bouton-supprimer
{
    background-color: darkred;
}

.btn{
    text-decoration: none;
}

.btn h2{
    color: white;
}

.item-img:hover{
    background-color: green;
}

#liste-item{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-box{
    margin-bottom: 100px;
    flex-basis: 30%;
    border: solid black 3px;

    cursor: pointer;
}

.item-box-detail{
    width: 95%;
    border: solid black 3px;

    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.item-img{
    height: 80px;
    background-color: darkslategrey;
}

.item-text{
    padding: 20px;
}

.detail{
    padding: 20px;
    flex-basis: 40%;
}

.fluide{
    height: auto;
    width: 100%;
}

footer{
    margin-top: 100px;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    color: white;
}