
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: white;
}

header{
    background-image: url("../img/banniere.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    font-size: 2em;
}

h2{
    padding: 15px;
    color: green;
}

#bienvenue
{
    text-align: center;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
}

nav div{
    background-color: darkslategray;
    padding: 2%;
}

nav div:hover{
    background-color: green;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    text-align: left;
}

li{
    margin: 10px auto;
}


.btn{
    text-decoration: none;
}

.btn h2{
    color: white;
}

#bouton-retour{
    width: 30%;
    background-color: green;
}

#bouton-retour:hover{
    background-color: darkslategrey;
}

#bouton-administration{
    margin: 0 auto;
    text-align: center;
    width: 30%;
    background-color: darkred;
}

#bouton-xlsx{
    background-color: darkblue;
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

#bouton-xlsx:hover{
    background-color: blue;
}

#bouton-xlsx a{
    color: white;
}

#bouton-administration:hover{
    background-color: red;
}
a
.bouton-action{
    margin: 0 auto;
    text-align: center;
}

.bouton-action:hover{
    background-color: darkslategrey;
}

.bouton-ajouter
{
    width: 35%;
    border: dashed black 5px;
}

.bouton-ajouter h2{
    color: black;
}

.bouton-ajouter h2:hover{
    color:white;
}
    
.bouton-modifier
{
    background-color: darkorange;
}

.bouton-supprimer
{
    background-color: darkred;
}


.item-img:hover{
    background-color: green;
}

section{
    text-align: center;
    justify-content: center;
}

/*FORMULAIRES*/
form{
    margin: 0 auto;
    width: 50%;
    border: solid black 3px;
    padding: 20px;
}

.recherche-simple{
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.recherche-simple a{
    background-color: darkmagenta;
    padding: 2px;
    color: white;
}

.recherche-simple a:hover{
    background-color: magenta;
}

input, label{
    margin: 2% auto;
}

#liste-item{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


#identifiants-membre, #coordonnees-membre
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#identifiants-membre :last-child, #coordonnees-membre :last-child
{
    text-align: right;
}

.item-box{
    margin-bottom: 100px;
    flex-basis: 30%;
    border: solid black 3px;

    cursor: pointer;
}

.item-box-detail{
    width: 95%;
    border: solid black 3px;

    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.item-img{
    height: 80px;
    background-color: darkslategrey;
}

.item-text{
    padding: 20px;
}

.detail{
    padding: 20px;
    flex-basis: 40%;
}

.fluide{
    height: auto;
    width: 100%;
}

.conteneur-avatar
{
    margin: 2%;
    width: auto;
    height: auto;
}

.avatar
{
    width:  150px;
    height: 150px;

    border: black solid 2px;
}

footer{
    margin-top: 100px;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    color: white;
}