
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: white;
}

header{
    background-image: url("../img/banniere.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

h2{
    padding: 20px;
    color: green;
}

.item-img:hover{
    background-color: green;
}

#liste-item{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-box{
    margin-bottom: 100px;
    flex-basis: 30%;
    border: solid black 3px;

    cursor: pointer;
}

.item-img{
    height: 80px;
    background-color: darkslategrey;
}

.item-text{
    padding: 20px;
}

footer{
    margin-top: 200px;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    color: white;
}